body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.login-card {
  background: #fff;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(2, 2, 2);
  border-radius: 20px;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5fa8f5;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #3b82f6;
}

.register-link {
  margin-top: 15px;
  font-size: 14px;
}

.register-link a {
  color: #1d4ed8;
  text-decoration: none;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}
